@{
    Layout = "_Layout";
}


<a href="/stylist/add">Add New Stylist</a>
<a href="/stylists/delete">Delete All Stylists</a>
<a href="/" type="button" class="btn btn-primary">Return to Home</a>

<p>Stylist Roster</p>
@{
    foreach (var stylist in Model)
    {
<h4><a href="/stylist/@stylist.Id/details">@stylist.Name</a></h4>
<a href="/stylist/@stylist.Id/update" type="button" class="btn btn-primary">Edit</a>
<a href="/stylist/@stylist.Id/delete" type="button" class="btn btn-danger">Delete</a>
<hr />
    }
}

