@using HairSalon.Models
@model Stylist

@{
  Layout = "_Layout";
}


<h1>Add a Stylist</h1>
<form action='/stylists' method='POST'>
<input type='text' name='first_name' class='form-control' required> <!--asp-for-->
<button type='submit'>Create Stylist</button>
</form>