@using HairSalon.Models
@model Stylist

@{
  Layout = "_Layout";
}


<h1>Add a Stylist</h1>
<form action='/stylists' method='POST'>
<p>Name</p><input type='text' name='name' class='form-control' required>
<p>Email</p><input type='text' name='stylistContact' class='form-control' required>
    
<button type='submit'>Create Stylist</button>
</form>