@{
    Layout = "_Layout";
}

<a href="/stylist/add">Add New Stylist</a><br>
<a href="/">Return to Home</a><br>
@Model.Name's Page<br>
Clients:
@foreach (var client in Model.GetClients())
{
<a href="~/client/@client.Id/details"><p class="stylist-paragraph">@client.Name</p></a> <a href="/stylist/@Model.Id/client/@client.Id/remove" class="btn-sm btn-danger">Remove</a><br />
}
<hr />
<h5><strong>AModel.Name offers:</strong></h5>
@foreach (var specialty in Model.GetSpecialties())
{
<a href="~/specialty/@specialty.Id/details"><p class="stylist-paragraph">@specialty.Name</p></a>
<a href="/stylist/@Model.Id/specialty/@specialty.Id/remove">Remove</a><br />
}
<a href="/stylist/@Model.Id/update">Edit</a>
<a href="/stylist/@Model.Id/delete">Delete</a>
