@{
    Layout = "_Layout";
}

<div>
    <p>Are you sure?  You'll have to re-enter all clients if you proceed.</p>
    <a href="/clients">Return to clients main page</a>
    <a href="/clients/delete">Delete All Clients</a>
</div>