@{
    Layout = "_Layout";
}

<div>
    <h1><a href="/stylists">Stylists</a> | Clients</h1>
    <p>Are you sure?  You'll have to re-enter all clients if you proceed.</p>
    <a href="/clients">Return to clients main page</a><span> | </span> 
    <a href="/clients/delete">Delete All Clients</a>
</div>