@{
    Layout = "_Layout";
}


<h3>@Model.Name's Page</h3>
<h5><strong>Stylists:</strong></h5>
@foreach (var stylist in Model.GetStylists())
    {
    <a href="~/stylist/@stylist.Id/details"><p>@stylist.Name</p></a><br />
    }
<br />
<a href="/client/@Model.Id/update" type="button" class="btn btn-primary">Edit</a>
<a href="/client/@Model.Id/delete" type="button" class="btn btn-danger">Delete</a>