@{
    Layout = "_Layout";
}

<strong>Clients</strong>
<p>@Model.Name visits:</p>
<ul>
    @foreach (var stylist in Model.GetStylists())
    {
    <li><a href="~/stylists/@stylist.Id/details">@stylist.Name</a></li>
    }
</ul>
<a href="/client/@Model.Id/update">Edit</a> |
<a href="/client/@Model.Id/delete">Delete</a>
