@{
    Layout = "_Layout";
}

<div>
    <strong><a href="/stylists">Stylists</a></strong> | <strong>Clients</strong>
    <div>
        <a href="/client/add">Add Client</a> <a href="/client/confirm">Delete All Clients</a> 
    </div>
    @{
    foreach (var client in Model)
    {
        <a href="/client/@client.Id/details">@client.Name</a>
        <a href="/client/@client.Id/update">Edit</a>
        <a href="/client/@client.Id/delete">Delete</a>
        <hr />
}
    }
</div>
