@{
    Layout = "_Layout";
}

<div>
    <p>Are you sure?  You'll have to re-enter all specialties if you proceed.</p>
    <p><a href="/specialties/delete">Delete All Clients</a></p>
    <p><a href="/specialties">Return to clients main page</a></p>
</div>