@{
    Layout = "_Layout";
}

<div>
    <strong>Clients</strong>
    <p>Are you sure?  You'll have to re-enter all specialties if you proceed.</p>
    <a href="/specialties">Return to specialties main page</a><span> | </span>
    <a href="/specialties/delete">Delete All Specialties</a>
</div>