@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm-12">
        <a href="/specialty/add">Add New Specialty</a> | 
        <a href="/specialty/confirm">Delete All Specialties</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <h5>@Model.Name</h5>
        <p><strong>Stylists:</strong></p>
        @foreach (var stylist in Model.GetStylists())
        {
            <a href="~/stylist/@stylist.Id/details"><p>@stylist.Name</p></a><br />
        }
    </div>
    <div class="col-sm-2">
        <a href="/specialty/@Model.Id/update">Edit</a><span> | </span>
        <a href="/specialty/@Model.Id/delete">Delete</a>
    </div>
    <div class="col-sm-8">
    </div>
</div>