@{
    Layout = "_Layout";
}

<div>
    <strong>Specialties</strong>
    <div>
        <p>
            <a href="/client/add">Add New Specialty</a>
            <span>|</span>
            <a href="/specialty/confirm">Delete All Specialties</a>
        </p>
    </div>
    <div class="row">
        @{
        foreach (var specialty in Model)
        {
        <div class="col-md-2">
            <strong><a href="/specialty/@specialty.Id/details">@specialty.Name</a></strong>
        </div>
        <div>
            <small><a href="/specialty/@specialty.Id/update">Edit</a></small>
            <span>|</span>
            <small><a href="/specialty/@specialty.Id/delete">Delete</a></small>
        </div>
        <div class="col-md-9"></div>
        <hr />
        }
        }
    </div>
</div>
