@{
    Layout = "_Layout";
}
<p>Welcome to Snappy Snips Salon!</p>
<p>This admin site allows you to add and edit stylists, stylist specialties and clients.  You can also assign clients to stylists and browse stylists by their specialties and client base</p> </p>
<p>Not sure where to begin?  Let's try <a href="/stylists/add">adding a stylist</a>.</p>