@{
    Layout = "_Layout";
}

<div>
    <h1>Stylists | <a href="/clients">Clients</a></h1>
    <p>Are you sure?  You'll have to re-enter all stylists if you proceed.</p>
    <a href="/stylists">Return to stylists main page</a><span> | </span>
    <a href="/stylists/delete">Delete All Clients</a>
</div>