@{
    Layout = "_Layout";
}

<div>
    <p>Are you sure?  You'll have to re-enter all stylists if you proceed.</p>
    <a href="/stylists">Return to stylists main page</a>
    <a href="/stylists/delete">Delete All Clients</a>
</div>