@{
    Layout = "_Layout";
}

<div>
    <p>Are you sure?  You'll have to re-enter all stylists if you proceed.</p>
    <p><a href="/stylists/delete">Delete All Clients</a></p>
    <p><a href="/stylists">Return to clients main page</a></p>
</div>