@{
    Layout = "_Layout";
}

<strong>Stylists</strong> | <strong><a href="/clients">Clients</a></strong><br />
<form action="/stylists" method="post">
    <div class="form-group">
        <label for="name">Enter Stylist Name</label>
        <input type="text" id="name" name="name" required />
    </div>
    <button type="submit">Add</button>
</form>
