@{
    Layout = "_Layout";
}

<strong>Stylists</strong>

@Model.Name's Stylist Page<br>
Clients:
<ul>
    @foreach (var client in Model.GetClients())
    {
        <li><a href="~/client/@client.Id/details">@client.Name</a></li>
    }
</ul>
