@{
    Layout = "_Layout";
}

@Model.Name's specialties
<div class="row">
    @foreach(var specialty in Model.GetSpecialties())
        {
            <div class="col-md-2">
                <strong><a href="~/specialty/@specialty.Id/details">@specialty.Name</a></strong>
            </div>
            <div>
                <small><a href="/specialty/@Model.Id/specialty/@specialty.Id/remove">Remove</a></small>
            </div>
            <div class="col-md-9"></div>
            <hr />
        }
</div>

@Model.Name's clients
<div class="row">
    @foreach (var client in Model.GetClients())
        {
            <div class="col-md-2">
                <strong><a href="~/client/@client.Id/details">@client.Name</a></strong>
            </div>
            <div>
                <small><a href="/client/@Model.Id/client/@client.Id/remove">Remove</a></small>
            </div>
            <div class="col-md-9"></div>
            <hr />
        }
</div>
