@{
    Layout = "_Layout";
}

<div>
    <h1>Stylists | <a href="/clients">Clients</a></h1>
      <div>
          <p>
              <a href="/stylist/add">Add New Stylist</a>
              <span>|</span>
              <a href="/stylist/confirm">Delete All Stylists</a>
          </p>
      </div>
</div>
<div class="row">
    @{
    foreach (var stylist in Model)
        {
        <div class="col-md-2">
            <strong><a href="/stylists/@stylist.Id/details">@stylist.Name</a></strong>
        </div>
        <div>
            <small><a href="/stylists/@stylist.Id/delete">Delete</a></small>
        </div>
        <div class="col-md-9"></div>
        <hr />
        }
    }
</div>
